{% extends 'base.html' %}
{% load static %}

{% block menu %}
    <li class="nav-item">
        <a class="nav-link active white angel" aria-current="page"
           href="https://docs.google.com/spreadsheets/d/1wjK7l8ae0PB2LqsU3QhA1UkQ-z17lZktmFY1cQpK1ZM/edit?usp=sharing">Сны
            ангелочка</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <img class="main-image" src="{% static 'images/home.png' %}" alt="Работа за ноутбуком">
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="center-title">Измените свою жизнь с TODO-list!</h2>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-2 end-page-margin">
                    <a href="{% url 'tasks_view' %}" class="btn btn-success start">Начать</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

